# Ignore these local directories
*.tar.gz
.DS_Store
*.pdf
service
vendor/*
usemodules.sh
coverage.out

# Never commit real RP keys
rp/*.key
!rp/bankid_rp_test.key

# Temporary ban
bankid_integration_test.go
example/example
